body>header,
body>main,
body>footer {
  padding-top: 0;
  padding-bottom: 0;
}

.text-center {
  text-align: center;
}

.d-inline-block {
  display: inline-block;
}

.m-1 {
  margin: 0.25rem;
}

.bg-delete {
  background-color: var(--pico-del-color);
  border-color: var(--pico-del-color);
}

.monaco-editor-container {
  width: 100%;
  height: 7rem;
  padding: 0.25rem;
  background-color: var(--pico-form-element-background-color);
  color: var(--pico-form-element-color);
  border: var(--pico-border-width) solid var(--pico-form-element-border-color);
  border-radius: var(--pico-border-radius);
  margin-bottom: var(--pico-spacing);
}

.monaco-editor-container>div {
  width: 100%;
  height: 100%;
}

.monaco-editor-container * {
  --vscode-editor-background: var(--pico-form-element-background-color);
  --vscode-editor-foreground: var(--pico-form-element-color);
  --vscode-breadcrumb-background: var(--pico-form-element-background-color);
  --vscode-editorGutter-background: var(--vscode-editor-background);
  --vscode-editorStickyScroll-background: var(--vscode-editor-background);
  --vscode-editorMarkerNavigation-background: var(--vscode-editor-background);
}

.playground-output {
  width: 100%;
  height: 21rem;
  background-color: var(--pico-form-element-background-color);
  color: var(--pico-form-element-color);
  border: var(--pico-border-width) solid var(--pico-form-element-border-color);
  border-radius: var(--pico-border-radius);
}